
				<div class="container">
					<div class="caption text-center text-white" data-stellar-ratio="0.7">

						<div id="owl-intro-text" class="owl-carousel">
							<div class="item">
								<h1>I invite you to meet me</h1>
								<p>Let's begin this experience</p>
                                <div class="extra-space-l"></div>
								<a class="btn btn-blank" href="#about-section" target="_blank" role="button">View More!</a>
							</div>
							<div class="item">
								<h1>¡¡ENJOY!!</h1>
								<p>That's only the beginning</p>
								<div class="extra-space-l"></div>
								<a class="btn btn-blank" href="#about-section" target="_blank" role="button">View More!</a>
							</div>
							<div class="item">
								<h1>I'm Raul</h1>
								<p>Asp NET.net core Programmer</p>
								<div class="extra-space-l"></div>
								<a class="btn btn-blank" href="#about-section" target="_blank" role="button">View More!</a>
							</div>
						</div>

					</div> <!-- /.caption -->
				</div> <!-- /.container -->
			</section>