 <section  id="timeLine-section">
                 <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Time Line</h2>
                            <p>For more info Download the CV</p>
                            <div class="devider"></div>
                          <div class="timeline">
                    <ul>                      
      
                      <li>
                        <div class="content">
                          <h3>ESO</h3>
                          <p>Secondary Obligatori School </p>
                        </div>
                        <div class="time">
                          <h4>2014-2018</h4>
                        </div>
                      </li>
      
                      <li>
                        <div class="content">
                          <h3>(1º-2º) SMX</h3>
                          <p>350h Work Experience (ITC MANAGER)</p>
                          <p>Microsoft Diplomas(Ofimatic):<b>Word/PowerPoint/Acces/Excel</b></p>
                        
                        </div>
                        <div class="time">
                          <h4>2018-2020</h4>
                        </div>
                      </li>
      
                      <li>
                        <div class="content">
                          <h3>1DAM</h3>
                          <p>Certification:JAVA, JS, BDD</p>
                        </div>
                        <div class="time">
                          <h4>2020-2021</h4>
                        </div>
                      </li>
      
                      <li>
                        <div class="content">
                          <h3>2DAW</h3>
                          <p>IM DOING IT RIGHT NOW...</p>
                        </div>
                        <div class="time">
                          <h4>2021-2022</h4>
                        </div>
                      </li>
                       <li>
                        <div class="content">
                          <h3>2DAM</h3>
                          <p>UPCOMMING...</p>
                        </div>
                        <div class="time">
                          <h4>2022-2023</h4>
                        </div>
                      </li>
      
                     
                      <div style="clear:both;"></div>
                    </ul>
                  </div>
                        </div>
                    </div>
                </div>
               
            </section>